each slice in recipe.data.body
  if slice.slice_type === "ingredients_group"
    if slice.primary.heading
      h4.ingredient-heading= slice.primary.heading
    ul
      each ingredient in slice.items
        li
          if ingredient.quantity
            span= `${ingredient.quantity} `
          if ingredient.measurement
            span= `${ingredient.measurement} `
          span= ingredient.ingredient