nav.navbar.is-transparent.is-vertically-centered(role="navigation", aria-label="main navigation")
  div.container
    div.navbar-brand.is-vertically-centered
      a.navbar-item.logo(href="/")
        span.icon.is-large.icon-round
          svg(xmlns="http://www.w3.org/2000/svg")
            use(xlink:href=`/images/cooking-icons.svg#${homepage.data.icon}`)
        span.name= PrismicDOM.RichText.asText(homepage.data.title)
    div.navbar-menu.is-vertically-centered
      div.navbar-end
        a.navbar-item.search-icon
          span.icon.is-small.is-right
            include /images/search.svg