block variables

doctype html
html(lang="en")
  head
    - var title = title || homepage ? PrismicDOM.RichText.asText(homepage.data.title) : "Recipe Box"
    title #{title}
    link(rel="stylesheet", href="/bulma/bulma.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i|Playfair+Display:400,700")
    link(rel="stylesheet", href="/styles/app.css")
    link(rel="icon", href="/favicon.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1")
  body
    include ../includes/navbar.pug

    div.container.is-fluid
      div.main-content
        block body
