extends ./layout.pug

block body
  p.title.search-title= "Search results for: "
    span.query= q
  hr
  if recipes.length > 0
    div.columns.is-multiline
      each recipe in recipes
        div.column.is-one-third
          include ../includes/recipe-card.pug
  else
    p.no-results
      i.ci-whisk
      = "No Recipes"