extends ./layout.pug

block body
  p.title= 'Recipes tagged with: '
    span.query= tag
  hr
  if recipes.length > 0
    div.columns.is-multiline
      each recipe in recipes
        div.column.is-one-third
          include ../includes/recipe-card.pug
  else
    p.no-results
      i.ci-whisk
      = 'No Recipes'