extends ./layout.pug

block body
  div.container
    div.columns.is-multiline
      each recipe in recipes
        div.column.is-one-third
          include ../includes/recipe-card.pug
    include ../includes/pagination.pug