.recipe-name
  position: relative
  background-position: center center
  background-size: 500px
  background-color: $text
  border-radius: 15px
  box-shadow: 0 30px 60px 0 rgba(130, 136, 171, 0.16)
  margin-bottom: 2rem
  overflow: hidden
  font-family: $family-secondary
  min-height: 350px

  &.has-image
    background-size: cover

  .hero-body
    padding: 2rem
    display: flex
    background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.25))

    .title
      color: #fff
      align-self: flex-end
