ul.ingredients
  each ingredient in recipe.data.ingredients
    li.ingredient
      if ingredient.quantity
        span.quantity= ingredient.quantity + ' '
      if ingredient.measurement
        span.measurement= ingredient.measurement + ' '
      span.ingredient= ingredient.ingredient