each slice in recipe.data.body
  if slice.slice_type === "ingredients_group"
    if slice.primary.heading
      div.ingredient-heading= slice.primary.heading
    ul.ingredients
      each ingredient in slice.items
        li.ingredient
          if ingredient.quantity
            span.quantity= `${ingredient.quantity} `
          if ingredient.measurement
            span.measurement= `${ingredient.measurement} `
          span.ingredient= ingredient.ingredient