div.nav-columns
  div.container.is-fluid
    nav.columns.is-vertically-centered
      div.column.is-one-half.is-offset-one-quarter
        a.logo(href='/')
          span.icon
            svg
              use(xlink:href='/images/cooking-icons.svg#' + homepage.data.icon)
          span.name= PrismicDOM.RichText.asText(homepage.data.title)
      div.column.is-one-quarter.navbar-search
        form(action='/search', method='get')
          p.control.has-icons-right
            input.input(name='q')
            span.icon.is-small.is-right
              include /images/search.svg