@charset "utf-8"

$primary: #fc828b !default
$text: #2f323a !default
$family-primary: sofia-pro, sans-serif !default
$family-secondary: bookmania, serif !default

$card-shadow: 0 40px 100px 0 rgba(130, 136, 171, 0.16)
$card-border-radius: 1.5rem

$box-shadow: 0 40px 100px 0 rgba(130, 136, 171, 0.16)
$box-radius: 1.5rem

@import ../node_modules/bulma/bulma.sass

@import extensions/animations.sass
@import extensions/icons.sass
@import extensions/collapsible.sass
@import extensions/prismic.sass

@import components/navbar.sass
@import components/card.sass
@import components/recipe.sass

html
  height: 100%
  min-height: 100%

body
  font-size: 1rem
  min-height: 100%
  background-color: #f8f8fa
  overflow-x: hidden
  overflow-y: auto
  -moz-osx-font-smoothings: grayscale
  -webkit-font-smoothing: antialiased
  -webkit-overflow-scrolling: touch

.is-vertically-centered
  align-items: center
