@charset "utf-8"

$primary: #ef4b6c !default
$text: #2f323a !default
$family-primary: sofia-pro, sans-serif !default
$family-secondary: bookmania, serif !default

@import ../node_modules/bulma/bulma.sass

@import extensions/animations.sass
@import extensions/icons.sass
@import extensions/collapsible.sass
@import extensions/prismic.sass

@import components/navbar.sass
@import components/card.sass
@import components/recipe.sass

html
  height: 100%
  min-height: 100%

body
  min-height: 100%
  background-image: linear-gradient(180deg, #f8f8fa, #eff1f8)
  overflow-x: hidden
  overflow-y: auto
  -moz-osx-font-smoothings: grayscale
  -webkit-font-smoothing: antialiased
  -webkit-overflow-scrolling: touch

.is-vertically-centered
  align-items: center